---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const posts = (await Astro.glob('./writing/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
).slice(0,4);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        Hello 👋
      </p>

      <p>
        I'm <a rel="me" href="https://mastodon.social/@sambreed" title="Follow me on Mastodon!">Sam Breed</a> and this is my modest personal website.
      </p>

      <p>
        I am a developer, designer, and investor who helps make websites faster, products better, and teams smarter.
      </p>

      <p>When I'm not doing that, you can find me trail running somewhere around Mt Tam. I also collect records, enjoy riding motorcycles, and building things in my shop.</p>

      <section>
        <h2>Writing</h2>
        <ul style={{ listStyleType: 'circle' }}>
          {posts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))}
          <li><a href="/writing">more...</a></li>
        </ul>
      </section>

      <section>
        <h2>Ephemera</h2>
        <ul>
          <li>
            <a href="/cv.html">Peruse my C.V.</a>
          </li>
          <li>
            social platforms: <a href="https://mastodon.social/@sambreed">mastodon</a>, <a href="https://hellsite.sambreed.dev">twitter archive</a>, <a href="https://instagram.com/wookiehangover">instagram</a>, <a href="https://www.strava.com/athletes/3256286">strava</a>
          </li>
          <li>
            code: <a href="https://github.com/wookiehangover?tab=repositories">github</a>
          </li>
          <li>
            side projects:
            <ul>
              <li><a href="https://twitter.com/pantone_colors">every pantone color</a> twitter bot</li>
              <li>
                <a href="https://obliquestrategies.website/">obliquestrategies.website</a>
                <ul>
                  <li><a href="https://chrome.google.com/webstore/detail/oblique-strategies-tab/mgmdhihgmkhangpfokjdhfhjaiadpopd">chrome extension</a></li>
                  <li><a href="https://twitter.com/ObliqueBot/status/886236405118062592">twitter bot</a></li>
                </ul>
              </li>
              <li>
                <a href="https://chrome.google.com/webstore/detail/%CA%8D-wikipedia/icfadkjhpjekoifngfldhkkjakifokln">ʍ-wikipedia</a> chrome extension
              </li>
            </ul>
          </li>
        </ul>
        <p>Or if none of that is enough (word, really?) or you have some other unanswered questions, <a href="mailto:sam@destroy.email">send me an email</a> or use one of the links below.</p>
      </section>
    </main>
    <Footer />
  </body>
</html>
