---
import type { CollectionEntry } from "astro:content";
import type { WikiCategory } from "../types/wiki";
import CategoryList from "./CategoryList.astro";
import Icon, { type IconName } from "./Icon.astro";

type WikiEntry = CollectionEntry<"wiki">;

export interface Props {
  entries: WikiEntry[];
  map: Map<string, WikiCategory>;
}

const { entries, map } = Astro.props;

const groups = entries.reduce((acc, entry) => {
  if (acc.has(entry.data.type)) {
    acc.get(entry.data.type)?.push(entry);
  } else {
    acc.set(entry.data.type, [entry]);
  }
  return acc;
}, new Map<WikiEntry["data"]["type"], WikiEntry[]>());

const COPY: Record<WikiEntry["data"]["type"], { title: string; description: string }> = {
  note: {
    title: "Notes",
    description:
      "Notes are where wiki entries start. They are as simple as a few lines of text and a title. They might be expanded into a full article later, or just be left small.",
  },
  quote: {
    title: "Quotes",
    description:
      "Sometimes, someone else has said it better than you ever could. Quotes are wiki entries that capture those ideas.",
  },
  list: {
    title: "Lists",
    description:
      "Text without heirarchy is just a blob. Lists are wiki entries that capture a collection of ideas, and their relationships to each other.",
  },
  book: {
    title: "Books",
    description:
      "Some people have a dedicated page for /books, but having a little wiki, I figured I'd just put them here.",
  },
  essay: {
    title: "Essay",
    description: "",
  },
};
---

{
  Array.from(groups.entries()).map(([group, entries]) => (
    <section>
      <header>
        <h2 class="flex gap-1 items-center">
          <Icon name={group as IconName} />
          <span>{COPY[group].title}</span>
        </h2>
        <p class="pt-2">{COPY[group].description}</p>
      </header>
      <div>
        <ul>
          {entries.map((entry) => (
            <li>
              <p>
                <a href={`/wiki/${entry.slug}`}>{entry.data.title}</a>
              </p>
              <p class="text-sm">{entry.data.description}</p>
              <nav class="text-xs flex gap-1 w-full">
                <CategoryList categories={entry.data.categories} map={map} />
              </nav>
            </li>
          ))}
        </ul>
      </div>
    </section>
  ))
}

<style>
  ul {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  ul li {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: var(--card-bg-hover);
    }
  }

  ul li nav {
    border-top: 1px solid var(--border-dim);
    padding: 0.5rem 0;
    margin-top: auto;
    flex-wrap: wrap;
  }

  @media (max-width: 512px) {
    ul {
      grid-template-columns: 1fr;
    }
  }
</style>
