---
import CategoryList from "~/components/wiki/CategoryList.astro";

const { entry, map } = Astro.props;
---

<li class="card">
	<h2 class="card-title">
		<a href={`/wiki/${entry.id}`}>{entry.data.title}</a>
	</h2>
	<p class="text-sm">{entry.data.description}</p>
	<nav class="text-xs flex gap-1 w-full">
		<CategoryList categories={entry.data.categories} map={map} />
	</nav>
</li>
<style>
	nav {
		border-top: 1px solid var(--border-dim);
		padding: 0.5rem 0;
		margin-top: auto;
		flex-wrap: wrap;
		height: 40px;
		overflow: hidden;
	}
</style>
