---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogPosts from '../components/BlogPosts.astro';
import BlogShare from '../components/BlogShare.astro';

export interface Props {
	content: {
		title: string;
		description?: string;
		pubDate?: string;
		updatedDate?: string;
		heroVideo?: string;
		heroImage?: string;
		heroAlt?: string;
		slug: string
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, heroAlt, slug, heroVideo },
} = Astro.props;


---

<html lang="en">
	<head>
		<BaseHead title={title} description={description ?? ""} image={heroImage} />
	</head>

	<body>
		<Header />

		<section>
			<header>
				<div class="sticky top-1">
					<h1>{title}</h1>
					<p>
						{pubDate && <time>{pubDate}</time>}
					</p>
					{
						updatedDate && (
							<p>
								Last updated on <time>{updatedDate}</time>
							</p>
						)
					}
					{description && <p class="pt-2">{description}</p>}
				</div>
			</header>
			<article>
					{heroVideo ? (
						<figure>
							<video src={heroVideo} autoplay muted loop />
							{heroAlt && (<figcaption class="cap">{heroAlt}</figcaption>)}
						</figure>
					) : (
						<figure>
							{heroImage && <img src={heroImage} alt={heroAlt} />}
							{heroAlt && (<figcaption class="cap">{heroAlt}</figcaption>)}
						</figure>
					)}
				<slot />
			</article>
		</section>


		<BlogShare title={title} slug={slug} />

		<BlogPosts exclude={slug} />

		<Footer />
	</body>
</html>

<script>
	// external links should open in a new tab
	document.addEventListener("DOMContentLoaded", function() {
		const links = document.querySelectorAll("a");
	
		links.forEach((link) => {
			const href = link.getAttribute("href");
			const isExternal = href?.startsWith("http") && !location.hostname.includes(href);
	
			if (isExternal) {
				link.setAttribute("target", "_blank");
				link.setAttribute("rel", "noopener noreferrer");
			}
		});
	});
</script>