---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import getAllCategories from "../utils/get-all-categories";
import CategoryList from "../components/CategoryList.astro";
import { type IconName } from "../components/Icon.astro";
import WikiCategoryList from "../components/WikiCategoryList.astro";
import '../components/CodeBlock.astro';

export interface Props {
  content: {
    title: string;
    description?: string;
    createdAt?: Date;
    updatedAt?: Date;
    categories?: string[];
    tags?: string[];
    all_categories?: string[];
		type?: IconName;
  };
  size?: "prose" | "full"
}

const wikiEntries = await getCollection("wiki");
const { tree, map } = getAllCategories(wikiEntries);

const {
  size,
  content: { title, description, createdAt, updatedAt, categories, type },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description ?? `Wiki Entry for ${title}`} />
  </head>

  <body>
    <Header label="wiki" />

    <section>
      <header>
        <h1 class="title">{title}</h1>
        <div class="pt-2">
          {description && <p>{description}</p>}
          {
            createdAt && (
              <p>
                First posted on <time>{createdAt.toLocaleDateString()}</time>
              </p>
            )
          }
          {
            updatedAt && (
              <p>
                Last updated on <time>{updatedAt.toLocaleDateString()}</time>
              </p>
            )
          }
        </div>
        <nav class="text-xs flex flex-col pt-2">
          <CategoryList categories={categories ?? []} map={map} />
        </nav>
      </header>

      <article>
        <slot />
      </article>
    </section>

    <WikiCategoryList />

    <Footer />
  </body>
</html>

<script>
  // external links should open in a new tab
  document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll("a");

    links.forEach((link) => {
      const href = link.getAttribute("href");
      const isExternal = href?.startsWith("http") && !location.hostname.includes(href);

      if (isExternal) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      }
    });
  });
</script>

<style>
  .title {
    font-size: 1.825em;
    line-height: 1.2;
  }
</style>
