---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import Category from "../components/Category.astro";
import getAllCategories from "../utils/get-all-categories";
import CategoryList from "../components/CategoryList.astro";
import Icon, { type IconName } from "../components/Icon.astro";

export interface Props {
  content: {
    title: string;
    description?: string;
    createdAt?: Date;
    updatedAt?: Date;
    categories?: string[];
    tags?: string[];
    all_categories?: string[];
		type?: IconName;
  };
  size?: "prose" | "full"
}

const wikiEntries = await getCollection("wiki");
const { tree, map } = getAllCategories(wikiEntries);

const {
  size,
  content: { title, description, createdAt, updatedAt, categories, type },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description ?? `Wiki Entry for ${title}`} />
  </head>

  <body>
    <Header label="wiki" />

    <section>
      <header>
        <h1 class="title">{title}</h1>
        {description && <p>{description}</p>}
        <div class="pt-2">
          {
            createdAt && (
              <p>
                First posted on <time>{createdAt.toLocaleDateString()}</time>
              </p>
            )
          }
          {
            updatedAt && (
              <p>
                Last updated on <time>{updatedAt.toLocaleDateString()}</time>
              </p>
            )
          }
        </div>
        <nav class="text-xs flex flex-col pt-2">
          <CategoryList categories={categories ?? []} map={map} />
        </nav>
      </header>

      <article>
        <slot />
      </article>
    </section>

    <section>
      <header>
        <h2>Categories</h2>
      </header>
      <div>
        <nav>
          {tree.map((category) => <Category value={category} />)}
          <div class="flex items-center gap-1 pt-8">
            <Icon name="bulleted-list"/>
            <a href={`/wiki`} title={`Index`}>Index</a>
          </div>
          <div class="flex items-center gap-1 pt-2">
            <Icon name="info"/>
            <a href={`/wiki/about`} title={`About`}>About</a>
          </div>
        </nav>
      </div>
    </section>

    <Footer />
  </body>
</html>

<script>
  // external links should open in a new tab
  document.addEventListener("DOMContentLoaded", function () {
    const links = document.querySelectorAll("a");

    links.forEach((link) => {
      const href = link.getAttribute("href");
      const isExternal = href?.startsWith("http") && !location.hostname.includes(href);

      if (isExternal) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      }
    });
  });
</script>

<style>
  .title {
    font-size: 1.825em;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
</style>
